.movies-page{
    background-color: #1a1919;
}
.btn-image{
    background-size: cover;
    background-position: center;
    height: 300px;
    border: 1px solid rgba(118, 13, 4, 0.781);
    border-radius: 10px ;
    width: 250px !important;
    backdrop-filter: blur(10px) !important;
}
.swiper-movies-details{ 
    opacity: 0;
} 
.btn-image:hover .swiper-movies-details{      
    opacity: 1; 
}
.mySwiper{
    height: 350px !important;
  

}
.small-slider{
    padding: 20px !important;
   
}


.swiper-movies-h{
    background-color: rgba(198, 198, 198, 0.507);
    border-radius: 10px;  
}

.movie-h{
    text-shadow: 5px 5px 10px #000000;
}
.movies-cart{
    height:400px;
    border-radius: 20px;
    border: 1px solid rgba(118, 13, 4, 0.781);
    background-size: cover;
    background-position: center;
    
    
}
.cards_overlay{  
    background-image: linear-gradient(rgba(117, 117, 4, 0), rgba(0, 0, 0, 0.502));
    opacity: 0;
    height: 100%;
    border-radius: 15px;
    transition: opacity 0.8s ease-in-out ; 
}
.cards_overlay:hover{
    opacity: 1;
}


.slick-next:before{
    font-size: 30px !important;
    color: rgb(229, 44, 44) !important;  
}
.slick-prev:before{
    font-size: 30px !important;
    color: rgb(229, 44, 44) !important;  
}
.slick-prev{
    left: -35px !important;
}

.slick-arrow{  
    z-index: 1 ;
    
}


@media only screen and (max-width: 880px) { 

    .slick-arrow{  
        display: none !important;
    }
}
